@charset "UTF-8";

body {
  margin: 0;
  background: url(image/back.jpg) center no-repeat fixed;
  background-size: cover;
}

.container {
  text-align: center;
}

.main {
  margin-top: 80px;
}

.dog-photo {
  width: 180px;
  height: auto;
}

.btn {
  margin-top: 20px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.result {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
}

/* ぴょんぴょん用クラス */
.jump {
  animation: jump 0.5s ease 3;
}

/* アニメーションの中身 */
@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}